<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hetic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <header>
        <h1>Hetic awesome chat</h1>
    </header>
    <main>

    </main>
</body>
</html>